<div class="mt-5 mb-5 ml-4 mr-4 d-flex">
    <h3 class="m-2">Customers</h3> <button type="button" class="btn btn-primary btn-sm" [routerLink]="['add']">Add New Customer</button>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive ">
            <div class="m-4">   
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-input-inline mr-sm-2 m-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    <span class="btn btn-lg mr-2"><i class="bi bi-funnel"></i></span>
                    <span class="btn btn-lg mr-2"><i class="bi bi-text-left"></i></span>
                    <span class="btn btn-lg mr-2"><i class="bi bi-layout-three-columns"></i></span>
                </form>
            </div>
            <table class="table">
                <caption>List of Customers</caption>
                <thead class="bg-primary text-white">
                    <tr>
                        <th><input type="checkbox" class="custom-control-input" id="customCheckall"></th>
                        <th>Customer ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Date of birth</th>
                        <th>Department</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerList">
                        <th><input type="checkbox" class="custom-control-input" id="customCheck1"></th>
                        <td>{{ customer._id }}</td>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName }}</td>
                        <td>{{ customer.phoneNumber }}</td>
                        <td>{{ customer.emailAddress }}</td>
                        <td>{{ customer.dob }}</td>
                        <td>{{ customer.department }}</td>
                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0"> 
                                <li class="list-inline-item">
                                    <button class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="view detail" [routerLink]="['view',customer._id]">
                                        <i class="bi bi-ticket-detailed"></i>
                                    </button>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" [routerLink]="['edit',customer._id]">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" [routerLink]="['delete',customer._id]"><i class="bi bi-archive"></i></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                   
            </table> 
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
    
</div>

 

