<div class="mt-5 mb-5 ml-4 mr-4 d-flex">
    <h3 class="m-2">Dashboard</h3> <button type="button" class="btn btn-info text-white border-radius: 30px;">Reports</button>
</div>

<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">111</h5>
                <span>Customers</span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">212</h5>
                <span>Total loans</span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">313</h5>
                <span>Approved Loans</span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">414</h5>
                <span>Pending Loans</span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">515</h5>
                <span>Risk Loans</span>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">616</h5>
                <span>Total Receivable</span>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 ml-4 mr-4 d-flex">
    <h4 class="bg-info p-2 text-white">Recent Loans</h4> 
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table">
                <thead>
                    <tr>
                        <th>LoanID</th>
                        <th>CustomerID</th>
                        <th>LoanType</th>
                        <th>Last payment</th>
                        <th>Payment Due</th>
                        <th>Loan Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                    </tr>
            </table> 
        </div>
    </div>
    
</div>

<div class="mt-5 ml-4 mr-4 d-flex">
    <h4 class="bg-info p-2 text-white">Recent customers</h4> 
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table">
                <thead>
                    <tr>
                        <th>CustomerID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Address</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                        <td>New york</td>
                    </tr>
                    <tr>
                        <td>1234</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>61546584</td>
                        <td>@mark</td>
                        <td>New york</td>
                        <td>New york</td>
                    </tr>
            </table> 
        </div>
    </div>
    
</div>

 

